{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>KeepReminder</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'my_app/Home.css/' %}">
</head>

<body> 
    <header>
        <h1 id="title">WELL PLANNED</h1>
        <h2 id="title1"> Planning is the key </h2>
    </header>

    <div class="container-fluid">
        <div class="jumbotron" style="text-align-last: center">
            <br><br>
            <h1>Reminders<i class="fa fa-bell" aria-hidden="true"></i></h1>
            <br>
            <div class="row">
                <div class="col-4 d-flex justify-content-center center-block">
                    <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<div class="login100-form-btn">
                                <button class="login100-form-btn">
								<a href="{% url 'add_reminder' %}"class="btn btn-warning btn-block" >Add your Reminder</a>
                                </button>
							</div>
                        </div>
                        <br>
           <div class="row">
                <div class="col-4 d-flex justify-content-center center-block">
                    <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<div class="login100-form-btn">
                                <button class="login100-form-btn">
								<a href="{% url 'reminderview'%}" class="btn btn-info btn-block">Update your Reminder</a>
                                </button>
							</div>
                        </div>
                        <br>
                        <div class="row">
                <div class="col-4 d-flex justify-content-center center-block">
                    <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<div class="login100-form-btn">
                                <button class="login100-form-btn">
								    <a href="{% url 'reminderview' %}" class="btn btn-danger btn-block">View Reminder</a>
                                </button>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br><br><br><br><br>
    <footer class="footer">
        <section>
            <h2>About the idea</h2>
            <p>
                “WELL PLANNED” is an ultimate tool for planning and self-development, 
                where you have all the necessary tools required for planning at one place.
                Open daily morning or evening for 15mins to make his life better, clear and planned.
                </p>
        </section>
        <samp>Done By : Ashish.</samp><br>
        <samp>help line : 7892288771</samp><br>
    </footer>
</body>
</html>